.aaa{
    width:100px;
    height:200px;
    background-color: red;
}
.bbb{
    width:200px;
    height: 400px;
    background-color: green;
    overflow: scroll;
    padding:10px;
    border: 1px solid #cccccc;
}